<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Save all you links with ease.Group all your related links easily efficiently">
    <meta name="keywords" content="Linkers, Link saver, Save link, Url saver, Save url, Online link saver,">

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Montserrat:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- FA-ICONS -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/assets/stylesheets/styles.css" />
    <link rel="stylesheet" href="/assets/stylesheets/common-styles.css" />
    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">

    <title>Linkers.</title>
  </head>
  <body>

    <!-- MODAL OVERLAY -->
    <div id = "overlay" class="overlay"></div>

    <!-- NAVIGATION BAR -->
    <nav class = "nav-bar d-flex flex-row align-center justify-between">
      <div class="nav-logo"><a href="/links"><h1>Linkers.</h1></a></div>
        <ul class="nav-items d-flex flex-row">
          <i id="user-icon" class="fas fa-user-circle"></i>
        </ul>
      </div>
    </nav>

    <div class="footer-popup">
      <div class="footer-popup-content">Copied to clipboard</div>
    </div>

    <!-- NAV EXPAND -->
    <div id="nav-expand" class="modal-wrapper">
      <div class="nav-expand">
        <a href="/"><div class="nav-expand-link">Account Settings</div></a>
        <a href="/logout"><div class="nav-expand-link">Sign out</div></a>
      </div>
    </div>

    <!-- CREATE LINK MODAL -->
    <div id="create-modal" class="modal-wrapper">
      <div class="modal">
        <div class="content-header">
          <span class="close-modal d-flex justify-end"><i class="fas fa-times"></i></span>
          <h3 class="content-heading">Create new link</h3>
        </div>
        <div class="form-wrapper">
          <form name="myForm" action="/links" method="POST" autocomplete="off">
              <div class="input-group">
                  <label class="d-flex input-group-label" for="title">Group title **</label>
                  <input class="input title bg-light" type="text" name="title" auto>
              </div>
              <div name="link-input" class="input-group">
                  <label class="d-flex input-group-label" for="">Links **</label>
                  <div class="link-input-group">
                      <div class="link-input-wrapper bg-light">
                          <label for="">-</label>
                          <input name="links" type="url" placeholder="https://url.com">
                      </div>
                      <span class="remove-link-btn"><i class="fas fa-times"></i></span>
                  </div>
                  <div class="link-input-group">
                      <div class="link-input-wrapper bg-light">
                          <label for="">-</label>
                          <input name="links" type="url" placeholder="https://url.com">
                      </div>
                      <span class="remove-link-btn"><i class="fas fa-times"></i></span>
                  </div>
                  <button name="add-new-link" class="btn btn-outline btn-full">
                      Add new link <span><i class="fas fa-plus"></i></span>
                  </button>
              </div>
              <div class="input-group">
                  <label class="d-flex input-group-label" for="">Description (< 100 words)</label>
                  <textarea name="description" class="input bg-light" rows="12"></textarea>
              </div>
  
              <button type="submit" class="btn btn-green">Create</button>
          </form>
        </div>
      </div>
    </div>

    <!-- EDIT MODAL -->
    <div id="edit-modal" class="modal-wrapper">
      <div class="modal">
        <div class="content-header">
          <span class="close-modal d-flex justify-end"><i class="fas fa-times"></i></span>
          <h3 class="content-heading">Edit link</h3>
        </div>
        <div class="form-wrapper">
          <form action="links?_method=PUT" method="POST" autocomplete="off">
              <div class="input-group">
                  <label class="d-flex input-group-label" for="title">Group title</label>
                  <input class="input title bg-light" type="text" name="title" id="title">
              </div>
              <div name="link-input" class="input-group">
                  <label class="d-flex input-group-label" for="">Links</label>
                  <button name="add-new-link" class="btn btn-outline btn-full">
                      Add new link <span><i class="fas fa-plus"></i></span>
                  </button>
              </div>
              <div class="input-group">
                  <label class="d-flex input-group-label" for="">Description (< 100 words)</label>
                  <textarea name="description" id="" class="input bg-light" rows="12"></textarea>
              </div>
  
              <button name="_id" value="" type="submit" class="btn btn-green">Create</button>
          </form>
        </div>
      </div>
    </div>

    <!-- VIEW MODAL -->
    <div id="view-modal" class="modal-wrapper">
      <div class="modal">
        <div class="content-header">
          <h3 class="content-heading">Box-shadow w3schools</h3>
        </div>
        <div class="view-content">
          <i class="fas fa-link link-icon"></i>
          <div class="list">
              <ul>
                  <li><a href="https://www.w3schools.com">https://www.w3schools.com</a></li>
                  <li><a href="https://www.youtube.com">https://www.youtube.com</a></li>
              </ul>
          </div>
          <i class="fas fa-info-circle desc-icon"></i>
          <div class="desc"></div>
          <div class="content-buttons">
              <button id = "edit-link-button" class="edit-button btn btn-green">
                  <i class="fa fa-edit align-self-center justify-self-center"></i>
                  <span>Edit</span>
              </button>
              <button class="share-button btn btn-outline">
                  <i class="fa fa-share-square align-self-center justify-self-center"></i>
                  <span>Share</span>
              </button>
              <form action="/links?_method=DELETE" method="POST">
                <button name="_id" value="" class="remove-button btn btn-danger-outline">
                  <i class="fa fa-trash align-self-center justify-self-center"></i>
                  <span>Remove</span>
                </button>
              </form>
          </div>
        </div>
      </div>
    </div>

    
    <!-- MAIN SECTION -->
    <main>
      <div class="content-section">
        <div class="content-header d-flex flex-row align-center justify-between">
            <h3 class="content-heading">All links</h3>
            <div class="d-flex flex-row align-center">
                <div id="add-links" class="add-button btn btn-outline btn-square d-flex align-center justify-center">
                    <i class="fas fa-plus"></i>
                </div>
            </div>
        </div>
        <div id="search-box" class="search-box d-flex align-center">
          <i class="fas fa-search"></i>
          <form action="/links">
            <input type="search" placeholder="Search" name="q" value="<%=inputBox%>"/>
          </form>
          <i id="clear-button" class="fas fa-times"></i>
        </div>
        <div class="link-lists">
          <% data.links.forEach((e) => { %>
            <div name="_id" value="<%=e._id %>"class="link-card">
              <h4 class="link-title"><%= e.title %></h4>
              <i class="fas fa-link link-icon"></i>
              <div class="list">
                 <ul class="d-flex flex-column">
                   <% e.links.forEach((link) => { %>
                    <li><a href="<%=link%>"><%=link%></a></li>
                   <% }) %> 
                 </ul>
              </div>
              <i class="fas fa-info-circle desc-icon"></i>
              <pre class="desc" data-desc="<%= (e.description.length === 0) ? "none" : "" %>"><%= (e.description.length == 0) ? "-" : e.description %></pre>
              <i class="fa fa-share-square share-button align-self-center justify-self-center"></i>
            </div>
          <% }) %> 

          <% if (message) { %> 
            <%= message %> 
          <% } %> 
      </div>
      <a id="scroll-to-top" class = "fa-button d-flex align-center justify-center">
        <i class="fas fa-chevron-up"></i>
      </a>
    </main>

    <!-- FOOTER SECTION -->
    <footer>
        Terms and Conditions of Use 
        <a href="https://github.com/winarmarco/Linkers">Visit github</a>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/assets/scripts/index.js"></script>
  </body>
</html>
