<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Save all you links with ease.Group all your related links easily efficiently">
    <meta name="keywords" content="Linkers, Link saver, Save link, Url saver, Save url, Online link saver,">

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Montserrat:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- FA-ICONS -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/assets/stylesheets/login.css" />
    <link rel="stylesheet" href="/assets/stylesheets/common-styles.css" />
    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">

    <title>Linkers</title>
  </head>
  <body>
    <div id="overlay" class="overlay"></div>

    <main>
      <% if (error) { %>
        <div class="flash-message">
        We couldn't find an account matching the username and password you
        entered. Please check your usename and password and try again
        </div>
      <% } %>
      <aside class="side-section d-flex flex-column">
        <h1 class="logo">Linkers.</h1>
        <div class="svg-wrapper d-flex align-center justify-center">
          <img src="/assets/images/File synchronization-bro.svg" alt="" />
        </div>
      </aside>
      <div class="form">
        <h1 class="form-logo">Linkers</h1>
        <p class="toggle-register-login text-end">
          Not a member? <a href="/register">Sign up</a>
        </p>
        <form class="mx-auto" method="POST" action="/login">
          <h1 class="form-title">Sign in</h1>
          <div class="input-group">
            <label class="d-flex" for="username">Username</label>
            <input class="bg-light input <%=data.username.error && "error"%>" type="text" name="username" id="username" value="<%=(data.username && data.username.value)%>" />
            <% if (data.username.message) { %> 
              <span class="validate-error-warning"><%= data.username.message %> </span>
            <% } %> 
          </div>
          <div class="input-group">
            <div class="label-group d-flex flex-row justify-between">
              <label for="password">Password</label>
            </div>
            <div class="input-password d-flex flex-row align-center justify-between <%=data.password.error && "error"%>">
              <input class="bg-light input" type="password" name="password" id="password" value="<%=(data.password && data.password.value)%>" />
              <i class="far fa-eye-slash password-toggle"></i>
            </div>
            <% if (data.password.message) { %> 
              <span class="validate-error-warning"><%= data.password.message %> </span>
            <% } %> 
          </div>

          <button class="btn btn-green">Sign in</button>
        </form>
      </div>
    </main>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/assets/scripts/login.js"></script>
  </body>
</html>
